.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 87vh;
}

.hero-img {
  background-image: url(../static/hero.png);
  background-size: 100% 100%;
}

.hero-left {
  padding-left: 7rem;
  padding-top: 3.5rem;
}

.hero-p {
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.hero-buttons-container {
  padding-left: 1rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 3.5rem;
}

.hero-cards-container {
  padding-left: 1rem;
  padding-right: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.hero-card {
  position: relative;
  border-radius: 0.7rem;
}

.hero-card img {
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
  object-fit: cover;
}

.hero-card div {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.hero-card:hover::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  top: 10%;
  left: 10%;
  border-radius: 0.7rem;
  width: 80%;
  height: 80%;
}

.hero-card div h5 {
  font-size: 2rem;
}

.hero-card div button {
  border: 0.5px gray solid;
  border-radius: 0.2rem;
  background-color: white;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}

.hero-card:hover > img {
  border: 2px var(--main-orange) solid;
}

.hero-card:hover > div {
  display: flex;
}
