.our-location {
  background-image: url(../static/location-background.png);
  background-size: 100% 100%;
  padding: 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.our-location p {
  padding-block: 0.5rem;
}

.information {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.our-location .button {
  color: black;
}

.buttons-container {
  display: flex;
  padding-right: 3rem;
  gap: 4rem;
}

.buttons-container ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.food-cards-container {
  position: relative;
}

.food-card {
  border-radius: 0.7rem;
  background-color: white;
  padding: 0.2rem;
}

.food-card img {
  border-radius: 0.4rem;
}

.food-card:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0rem;
  width: 60%;
}

.food-card:nth-child(2) {
  position: absolute;
  bottom: -2.8rem;
  left: 6rem;
  width: 50%;
}

.food-card:nth-child(1) img {
  z-index: 1;
  width: 100%;
}

.food-card:nth-child(2) img {
  z-index: 2;
  width: 100%;
}
