.special-dishes {
  padding-inline: 7rem;
}

.special-dishes > img {
  width: 5rem;
}

.special-dishes-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.special-dishes-top a {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
}

.dishes-cards-container {
  margin-block: 5rem;
  display: grid;
  grid-template-areas:
    "a a b b"
    "a a c d";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 26rem);
  gap: 2rem;
}

.dishes-card {
  position: relative;
  border-radius: 0.7rem;
}

.dishes-card:nth-child(1) {
  grid-area: a;
}

.dishes-card:nth-child(2) {
  grid-area: b;
}

.dishes-card:nth-child(3) {
  grid-area: c;
}

.dishes-card:nth-child(4) {
  grid-area: d;
}

.dishes-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.7rem;
}

.dishes-card > div {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.dishes-card:hover::before {
  content: "";
  position: absolute;
  border-radius: 0.7rem;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.8);
}

.dishes-card h7 {
  font-size: 1.5rem;
}

.dishes-card button {
  border: 0.5px gray solid;
  border-radius: 0.2rem;
  background-color: white;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}

.dishes-card span {
  border-radius: 0.2rem;
  border: 0.5px gray solid;
  background-color: var(--main-orange);
}

.dishes-card:hover > div {
  display: flex;
}
